.borderPrimary:focus {
  border-color: var(--primary);
}
.borderSecondary:focus {
  border-color: var(--secondary);
}

.inputContainer {
  display: flex;
  align-items: center;
  border-radius: 4px;
  
  background-color: #ccc;
}