.button {
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 1rem;
  width: fit-content;
}

.button:hover {
  box-shadow: 3px 3px 3px rgba(36, 36, 36, 0.3);
}

.button.primary {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.button.secondary {
  background-color: var(--secondary);
  color: var(--secondary-foreground);
}