:root {
  --spacer: 1rem;
  --color-error: red;
}
svg {
  height: var(--spacer);
  width: var(--spacer);
}
html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

button,
input[type='reset'],
input[type='submit'] {
  padding: 0.25rem 0.5rem;
  font-size: var(--spacer);
  cursor: pointer;
}
input[type='date'] {
  padding: var(--spacer);
  border-radius: 0.6rem;
  border: transparent;
}
input[type='checkbox'] {
  height: var(--spacer);
  width: var(--spacer);
  cursor: pointer;
}
.grow {
  flex-grow: 1;
}

th,
td {
  text-align: center;
  padding: var(--spacer) 0;
}
tr {
  border-bottom: 1px solid;
}
table {
  border-collapse: collapse;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: between;
}

.px-1 {
  padding-right: calc(var(--spacer) * 0.25);
  padding-left: calc(var(--spacer) * 0.25);
}
.px-2 {
  padding-right: calc(var(--spacer) * 0.5);
  padding-left: calc(var(--spacer) * 0.5);
}
.px-3 {
  padding-right: calc(var(--spacer) * 0.75);
  padding-left: calc(var(--spacer) * 0.75);
}
.px-4 {
  padding-right: calc(var(--spacer));
  padding-left: calc(var(--spacer));
}
.px-5 {
  padding-right: calc(var(--spacer) * 1.25);
  padding-left: calc(var(--spacer) * 1.25);
}
.py-1 {
  padding-top: calc(var(--spacer) * 0.25);
  padding-bottom: calc(var(--spacer) * 0.25);
}
.py-2 {
  padding-top: calc(var(--spacer) * 0.5);
  padding-bottom: calc(var(--spacer) * 0.5);
}
.py-3 {
  padding-top: calc(var(--spacer) * 0.75);
  padding-bottom: calc(var(--spacer) * 0.75);
}
.py-4 {
  padding-top: calc(var(--spacer));
  padding-bottom: calc(var(--spacer));
}
.py-5 {
  padding-top: calc(var(--spacer) * 1.25);
  padding-bottom: calc(var(--spacer) * 1.25);
}
.pt-1 {
  padding-top: calc(var(--spacer) * 2.25);
}
.p-1 {
  padding: calc(var(--spacer) * 0.25);
}
.p-2 {
  padding: calc(var(--spacer) * 0.5);
}
.p-3 {
  padding: calc(var(--spacer) * 0.75);
}
.p-4 {
  padding: calc(var(--spacer));
}
.p-5 {
  padding: calc(var(--spacer) * 1.25);
}

.gap-1 {
  gap: calc(var(--spacer) * 0.25);
}
.gap-2 {
  gap: calc(var(--spacer) * 0.5);
}
.gap-3 {
  gap: calc(var(--spacer) * 0.75);
}
.gap-4 {
  gap: calc(var(--spacer) * 1);
}
.gap-5 {
  gap: calc(var(--spacer) * 1.25);
}

input {
  margin: 0;
  padding: 0.25rem;
  border-radius: 0.25rem;
  width: fit-content;
}
.error {
  color: var(--color-error);
  padding-bottom: 1.25rem;
}
.block {
  display: block;
}
.hidden {
  display: none;
}
p,
b,
span,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  display: flex;
  flex-grow: 1;
}
.items-baseline {
  justify-content: baseline;
}
.form-box {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.container.signin {
  text-align: center;
  margin-top: 20px;
}

.container.signin a {
  color: #0092b9;
  text-decoration: none;
}

.container.signin a:hover {
  text-decoration: underline;
}
input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px #ffffff solid;
  border-bottom-color: #0092b9;
  box-sizing: border-box;
}

input[type="password"],
input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px #ffffff solid;
  border-bottom-color: rgb(24, 24, 27);
  box-sizing: border-box;
}

input[type="password"]:focus,
input[type="email"]:focus {
  border-bottom-color: rgb(24, 24, 27);
  outline: none;
}
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: rgb(24, 24, 27);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}
.border-t-1{
  border-top: 1px solid #b8b8b8 ;
}
.width-auto{
  width:auto;
}
.font-color-link{
  color:rgb(110, 110, 119)
}