textarea {
    height: 150px;
    margin-right: 1rem;
    margin-left: 1rem;
}

footer>input {
    text-decoration: none;
    border: none;
}

section {
    background-color: #ddd
}

input,
select {
    height: 1.75rem;
}

.flex-date {
    flex-direction: column;
}

label {
    font-size: 1.75rem;
}

/* Stili per dispositivi piccoli (smarphone) */
@media (max-width: 410px) {

    input,
    select {
        max-width: 165px;
    }
}

/* Stili per dispositivi medi (tablet) */
@media (min-width: 411px) and (max-width: 900px) {
    label {
        font-size: 2.75rem;
    }

    textarea {
        height: 200px;
        margin-right: 1rem;
        margin-left: rem;
    }

    input,
    select {
        height: 2.75rem;
        width: 300px;
    }
}

/* Stili per dispositivi grandi (Desktop) */
@media (min-width: 901px) {
    textarea {
        max-width: 600px;
    }

    input,
    select {
        height: 2.75rem;
        width: 300px;
    }
}