.password {
  border: none;
  outline: none !important;
}

.switchBtn {
  border: none;
  background-color: transparent;
  box-shadow: none !important;
}

.switchBtn:hover {
  box-shadow: none !important;
}

img {
  box-shadow: none !important;
}
