.inputContainer {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: fit-content;
  background-color: #ccc;
}

.inputContainer:focus-within {
  outline: 3px solid #2563eb;
}

.password {
  border: none;
  outline: none !important;
}

.switchBtn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  box-shadow: none !important;
}

.switchBtn:hover {
  box-shadow: none !important;
}

img {
  box-shadow: none !important;
}