p {
  font-size: 1.1rem;
  color: #777;
}

.primary {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.border-primary {

  border: var(--primary) solid 1px;
  color: var(--primary);
  background-color: var(--primary-foreground);
}


/* Stili per dispositivi piccoli (smartphone)*/
@media (max-width: 410px) {
  #main-div {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacer) * 1.5);
  }

  #second-div {
    display: flex;
    flex-direction: column-reverse;
    gap: calc(var(--spacer) * 1.5);
  }

  #main-section {
    padding-top: calc(var(--spacer) * 0.5);
    padding-bottom: calc(var(--spacer) * 3.5);
  }

  #second-section {
    padding-top: calc(var(--spacer) * 3.5);
    padding-bottom: calc(var(--spacer) * 3.5);
  }

  header,
  footer {
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  .container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }

  .nav {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 1.5rem;
  }
}

/* Stili per dispositivi medi (tablet) */
@media (min-width: 411px) and (max-width: 900px) {
  #main-div {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacer) * 1.5);
  }

  #second-div {
    display: flex;
    flex-direction: column-reverse;
    gap: calc(var(--spacer) * 1.5);
  }

  #main-section {
    padding-top: calc(var(--spacer) * 1.25);
    padding-bottom: calc(var(--spacer) * 3.5);
  }

  #second-section {
    padding-top: calc(var(--spacer) * 3.5);
    padding-bottom: calc(var(--spacer) * 3.5);
  }

  header,
  footer {
    text-align: center;
  }

  h2 {
    line-height: 2.5rem;
  }

  h3 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  p {
    font-size: 1.75rem;
  }

  .button-size {
    width: 4.375rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  .container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }

  .hero h1 {
    font-size: 1.5rem;
  }
}