/* Stili per dispositivi piccoli (smartphone) */
@media (max-width: 430px) {
  .h2 {
    font-size: 4em;
  }

  .nav,
  .a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.70em;
  }

  .button {
    width: 100%;
    font-size: 1.75em;
    padding: 20px;
  }
}

/* Stili per dispositivi medi (tablet) */
@media (min-width: 431px) and (max-width: 900px) {
  .h2 {
    font-size: 5em;
  }

  .nav,
  .a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.70em;
  }

  .button {
    width: 100%;
    font-size: 1.75em;
    padding: 20px;
  }
}

/* Stili per dispositivi grandi (desktop) */
@media (min-width: 901px) {
  .root {
    height: 100%;
  }
  .mainSides {
    width: 8em;
    border: solid black 1px;
  }

  .h2 {
    font-size: 2.5em;
  }

  .nav,
  .a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.05em;
  }

  .button {
    width: 100%;
    font-size: 1em;
    padding: 10px;
  }
}