.input {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  border: 0.188rem solid transparent;
  outline: none;
}

.inputPrimary {
  background-color: #ccc;
  color: #2563eb;
}

.inputSecondary {
  background-color: #ccc;
  color: #eac435;
}